<div class="container">
  <div class="aficion">
    <a routerLink="/guitarra" routerLinkActive="active">Tocar la guitarra</a>
    <p>Disfruto tocando la guitarra eléctrica y acústica en mi tiempo libre.</p>
  </div>
  <div class="aficion">
    <a routerLink="/juegosDeRol" routerLinkActive="active">Jugar a juegos de rol</a>
    <p>Me gusta jugar a juegos de rol como una forma de entrenar mi mente para encontrar soluciones ágiles a los problemas.</p>
  </div>
  <div class="aficion">
    <a routerLink="/mas" routerLinkActive="active">Escuchar música</a>
    <p>Soy un apasionado de la música y disfruto escuchando una amplia variedad de géneros.</p>
  </div>
  <div class="aficion">
    <a routerLink="/mas" routerLinkActive="active">Leer</a>
    <p>Me encanta perderme en las historias de los libros y descubrir nuevos mundos y perspectivas.</p>
  </div>
  <div class="aficion">
    <a routerLink="/mas" routerLinkActive="active">Ir al cine</a>
    <p>Me gusta ver películas de diferentes géneros en la pantalla grande.</p>
  </div>
  <div class="aficion">
    <a routerLink="/mas" routerLinkActive="active">Juegos de mesa y videojuegos</a>
    <p>Disfruto pasar tiempo con amigos jugando a juegos de mesa y videojuegos.</p>
  </div>
</div>


