<div class="guitarra-container">
  <h2>Mi afición por la guitarra</h2>
  <div class="guitarra-content">
    <div class="guitarra-description">
      <p>Desde que era niño, he tenido una gran pasión por la música y especialmente por la guitarra. He estado tocando
        la guitarra durante más de 10 años y es una de mis actividades favoritas en mi tiempo libre.</p>
      <p>Me encanta aprender nuevas canciones en la guitarra y experimentar con diferentes técnicas y efectos para
        mejorar mi habilidad y estilo. Tocar la guitarra es una actividad que disfruto y me ayuda a relajarme y
        desconectar después de un día ajetreado..</p>
    </div>
    <div class="guitarra-solo">
      <video controls>
        <source src="src/assets/Guitarra/VID_20221202_192116.mp4" type="video/mp4">
      </video>
    </div>
    <h2>Conciertos</h2>
    <div class="guitarra-conciertos">
      <p>No solo practico en mi cuarto si no que he participado dos veces seguidas en los conciertos de graduación de mi instituto</p>
      <video controls>
        <source src="src/assets/Guitarra/VID_20220524_212627_289.mp4" type="video/mp4">
      </video>
      <video controls>
        <source src="src/assets/Guitarra/VID_20220524_214340.mp4" type="video/mp4">
      </video>
      <video controls>
        <source src="src/assets/Guitarra/VID_20220524_214548_967.mp4" type="video/mp4">
      </video>
    </div>


  </div>
</div>
