<div class="container">
  <h2>Mis Gustos</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="blog-entry">
        <h3>Música</h3>
        <img src="https://via.placeholder.com/350x150" alt="Imagen de Música">
        <p>Me gusta mucho la música, especialmente el Metal y el Rock. Algunos de mis artistas favoritos son Rammstein,
          Ghost, Metallica y Saurom.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="blog-entry">
        <h3>Lectura</h3>
        <img src="https://via.placeholder.com/350x150" alt="Imagen de Lectura">
        <p>Me encanta leer, sobre todo novelas de ciencia ficción y fantasía como El Señor de los Anillos o el Silmarilion
          escritos por J.R.R. Tolkien.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="blog-entry">
        <h3>Cine</h3>
        <img src="https://via.placeholder.com/350x150" alt="Imagen de Cine">
        <p>Soy un gran aficionado al cine. Disfruto de películas de todo tipo, pero mis géneros favoritos son la ciencia
          ficción, la fantasía y el drama. Algunas de mis películas favoritas son Interstellar, El Señor de los Anillos
          (las tres), El Planeta del Tesoro, Atlantis, Simbad el Marino (de Dreamworks) y Shrek.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="blog-entry">
        <h3>Juegos</h3>
        <img src="https://via.placeholder.com/350x150" alt="Imagen de Juegos">
        <p>Me encantan los juegos de mesa y los videojuegos. Juego a menudo con amigos y familia. Algunos de mis juegos de mesa
          favoritos son el Rising Sun, Zombies y los Hombres Lobo de Castronegro. Mis videojuegos favoritos son el Dark Souls, el Anno 1800 y el Blasphemous</p>
      </div>
    </div>
  </div>
</div>
