<div class="menubackground">
  <nav>
    <ul class="menu">
      <li class="menu-item">
        <a routerLink="/inicio" routerLinkActive="active" class="menu-link">Inicio</a>
      </li>

      <li class="menu-item">
        <a href="#" class="menu-link">Sobre mí</a>
        <ul class="submenu">
          <li class="submenu-item">
            <a routerLink="/experienciaLabroal" routerLinkActive="active" class="submenu-link">Experiencia Laboral</a>
          </li>
          <li class="submenu-item">
            <a routerLink="/competencias" routerLinkActive="active" class="submenu-link">Competencias</a>
          </li>
          <li class="submenu-item">
            <a routerLink="/habilidades" routerLinkActive="active" class="submenu-link">Habilidades</a>
          </li>
          <li class="submenu-item">
            <a href="#" class="submenu-link">Aficiones</a>
            <ul class="sub-submenu">
              <li class="sub-submenu-item">
                <a routerLink="/juegosDeRol" routerLinkActive="active" class="sub-submenu-link">Juegos de Rol</a>
              </li>
              <li class="sub-submenu-item">
                <a routerLink="/guitarra" routerLinkActive="active" class="sub-submenu-link">Guitarra</a>
              </li>
              <li class="sub-submenu-item">
                <a routerLink="/mas" routerLinkActive="active" class="sub-submenu-link">Más actividades</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="menu-item">
        <a href="" class="menu-link">Redes Sociales</a>
        <ul class="submenu">
          <li class="submenu-item">
            <a href="https://www.instagram.com/alebra03mor/" target="_blank" class="submenu-link">Instagram</a>
          </li>
        </ul>
      </li>

      <li class="menu-item">
        <a routerLink="/contacta-conmigo" routerLinkActive="active" class="menu-link">Contacta Conmigo</a>
      </li>
    </ul>
  </nav>

</div>
