<div class="pqABM">
  <h1 align="middle">¿Por qué Alejandro Bracamonte?</h1>
  <br>
  <p>Alejandro Bracamonte nació en Leganés el día 08 de agosto de 2003 y es una persona emprendedora, que sabe trabajar bajo presión, y aporta ideas resolutivas y
    creativas ante los problemas y ha participado en muchos talleres y actividades extracurriculares </p>
  <br>
  <ul>
    <li>Talleres de Cine del Ayuntamiento de Leganés</li>
    <li>Clases particulares de guitarra desde los 9 años</li>
    <li>Miembro de la Junta de la Asociación Factoría del Rol durante dos años. </li>
    <li></li>
  </ul>
</div>
